@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   margin: 0;
   padding: 0;
}

* {
    box-sizing: border-box;
}

@layer components {
    .section-headers {
        @apply
        md:text-[2rem]/[4rem] text-[2rem] font-Sintony
    }
    .link-btn {
        @apply
        h-8 w-8
    }
    .project-title {
        @apply
        font-Gloock text-[1.6rem]
    }
    .project-description {
        @apply
        mt-7 font-Sintony text-[1rem]/[2rem]
    }
    .contact-form {
        @apply
        border-black border w-full h-12 mb-5 rounded
    }
    .contact-font {
        @apply
        text-[1.2rem] font-Sintony mb-2
    }

    .md-screen-img {
        @apply
        md:w-6/12 md:h-3/6
    }

    .md-margin {
        @apply
        md:my-12 md:ml-9
    }

    .md-margin-left {
        @apply 
        md:mt-4
    }

    .md-skills-img {
        @apply
        md:mr-9 md:ml-9
    }

    .lg-skills-img {
        @apply
        lg:mr-9 lg:ml-9
    }


}

